---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'colors';
@import 'fonts';

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


/* module */
/* END  module */

/* state */
/* END  state */

/* theme */
/* END  theme */

.menu.topcoat-button-bar {
    .topcoat-button-bar__item {
        border-radius: 0;
        border: none;
    }
    .topcoat-button-bar__button{
        padding: 0;
        border: 0;
        box-shadow: none;
        margin: 0 auto;
        color: $primary;
        background-color: $secondary;
    }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "navbar",
        "home",
        "eventsPage",
        "wineRater"
;
