---
layout: default
---

{% include pages/homePage.html %}
{% include pages/startButtonsTemplate.html %}
{% include pages/noItemsFoundTemplate.html %}
{% include pages/comingSoonTemplate.html %}

<!-- food matches -->
{% include pages/matchesPage.html %}
{% include pages/wineFoodMatchingTemplate.html %}
{% include pages/foodsTemplate.html %}

<!-- wines -->
{% include pages/winesPage.html %}
{% include pages/wineTemplate.html %}
{% include pages/wineriesPage.html %}
{% include pages/wineryItemTemplate.html %}

<!-- events -->
{% include pages/eventsPage.html %}
{% include pages/eventItemTemplate.html %}

<!-- the somelier game -->
{% include pages/wineTastingSelectWinePage.html %}
{% include pages/wineRaterPage.html %}
{% include pages/wineTastingItemPage.html %}

<!-- menu pages -->
{% include pages/glossaryPage.html %}
{% include pages/aboutPage.html %}

