<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left quarter">
    <a class="topcoat-icon-button--quiet side-drawer-toggle" href="#">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h1 class="topcoat-navigation-bar__title">
      <img src="img/logo-icon.png" alt="logo">
    </h1>
  </div>
</div>
<div class="side-drawer">
  <div class="topcoat-list__container">
    <ul class="topcoat-list">
      <li class="topcoat-list__item">
        <span class="formItem">Menu</span>
      </li>
      <li class="topcoat-list__item" data-rel="home">
        <span class="formItem">Home</span>
      </li>
      <li class="topcoat-list__item" data-rel="glossaryPage">
        <span class="formItem">Glossary</span>
      </li>
      <li class="topcoat-list__item" data-rel="aboutPage">
        <span class="formItem">About</span>
      </li>
    </ul>
  </div>
</div>

