@import 'colors';

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.content {
    background-color: $primary;
}

.tapped {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

.card {
    /* clear floats */
    overflow: hidden;
    width: 100%;

    border-bottom: solid 1px $text;

    .spotlight {
        float: left;
        width: 5.2rem;
        height: 5.2rem;
        margin: 0.6rem;
        margin-right: 1.2rem;
        background-color: $primary;
        border-radius: 50%;

        img {
            display: block;
            height: 4.2rem;
            margin: auto;
            margin-top: 0.4rem;
        }
    }
    .nextArrow {
        background: url("../img/icon-arrow.png") center no-repeat;
        background-size: 50%;
        width: 4rem;
    }
    .label {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.1rem;
    }
    .company {
        margin: 0;
        font-size: 0.8rem;
        color: $text;
    }
    p.edition {
        font-size: 1.1rem;
        color: #7f8c8d;
        margin-bottom: -1.7rem;
    }
}

.about.center {
        margin-top: 5rem;
}


.glossary {

    .ln-letters {
        background: white;
    }

    .ln-disabled {
        display: hidden;
    }

    .ln-letters a {
        padding: 0.35rem;
        text-decoration: none;
    }

    .ln-letters a:link {
        color: #7f8c8d;
    }

    .ln-letters a:visited {
        color: #7f8c8d;
    }

    .ln-letters a:hover {
        color: #7f8c8d;
    }

    .ln-letters a:active {
        color: #7f8c8d;
    }

    .ln-letters .ln-selected {
        border-bottom: 1px solid red;
        font-size: 1.5rem;
        color: #ffffff;
        line-height: 3rem;
        text-align: center;
    }
}

.event {
    img {
        width: 100%;
        max-height: 20%;
        -webkit-filter: brightness(50%);
    }

    h2 {
        text-align: center;
        margin: 1rem;
    }
}

.winery {
    img {
        margin: 0 auto;
        display: block;
    }
    div {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: solid 1px lighten(#aaa, 20%);
        padding: 0.5rem;

        span{
            font-size: 1rem;
            float: right;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
    .description {
        text-transform: capitalize;
    }
}

.clear {
    clear: both;
}

#wine-tasting-amateur-step1-template-placeholder {
    img {
        width: 100%;
    }
}

div#coming-soon-template-placeholder {
    img {
        width: 100%;
    }

    .topcoat-button {
        margin-top: 2rem;
    }
}