@import 'colors';

.content {
    background-color: $primary;
}

.tapped {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

.card {
    /* clear floats */
    overflow: auto;
    width: 100%;
    position: relative;

    border-bottom: solid 1px $text;

    .spotlight {
        position: relative;
        float: left;
        width: 5.2rem;
        height: 5.2rem;
        margin: 0.6rem;
        margin-right: 1.2rem;
        background-color: $primary;
        border-radius: 50%;

        img {
            height: 4.2rem;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
    .nextArrow {
        background: url("../img/icon-arrow.png") center no-repeat;
        background-size: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 4rem;
    }
    .label {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.1rem;
    }
    .company {
        margin: 0;
        font-size: 0.8rem;
        color: $text;
    }
    p.edition {
        font-size: 1.1rem;
        color: #7f8c8d;
        margin-bottom: -1.7rem;
    }
}

.about.center {
        margin-top: 5rem;
}


.glossary {

    .ln-letters {
        background: white;
    }

    .ln-disabled {
        display: none;
    }

    .ln-letters a {
        padding: 0.35rem;
        text-decoration: none;
    }

    .ln-letters a:link {
        color: #7f8c8d;
    }

    .ln-letters a:visited {
        color: #7f8c8d;
    }

    .ln-letters a:hover {
        color: #7f8c8d;
    }

    .ln-letters a:active {
        color: #7f8c8d;
    }

    .ln-letters .ln-selected {
        border-bottom: 1px solid red;
        font-size: 1.5rem;
        color: #ffffff;
        line-height: 3rem;
        text-align: center;
    }
}