@import 'colors';

.topcoat-navigation-bar__title > img {
    height: 3rem;
    width: 3rem;
}

.topcoat-navigation-bar {
    height: 4rem;
    padding: 0.5rem;
    box-shadow: none;
    background-color: $primary;
}

.page.with-side-drawer > .side-drawer {
    background-color: $primary;

    .topcoat-list__item {
        background-color: $primary;
        font-size: 1rem;
    }
}
