.title, .company {
    margin-left: 0.5rem;
}

.points, .total {
    margin-right: 0.5rem;
}

#comments {
    width: 90%;
    margin: 5%;
}

.header {
    color: $primary;
    background-color: lighten(black, 15%);
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.green {
    background-color: #2dcc70;
}

.rating {
    overflow: hidden;
    width: 100%;
    line-height: 3rem;

    .characteristic {
        font-size: 1.2rem;
        padding-left: 2rem;
        display: inline-block;
    }

    .bubbles {
        float: right;
        padding-right: 0.5rem;
    }
}

.bubbles input[type="radio"] {
    display: hidden;
}

.bubbles label {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    display:inline-block;
    box-shadow: 0px 2px 0px 0px lighten($text, 20%);
    background-color: #ecf0f1;
    padding: 0.1rem 1.2rem;
    font-size: 1.2rem;
}

.bubbles input[type="radio"]:checked + label {
    background-color: $secondary;
    color: $primary;
}
