<div id="aboutPage">
  {% include menu.html %}
  <div class="content scrollable">
      <div class="about center">
        <div class="logo"><img src="img/logo-icon.png" alt="logo"></div>
        <div class="app-name"><h2>Wine Moldova</h2></div>
        <div class="app-version">version 1.0</div>

        <div class="app-info">
          <p><a href="mailto:winemoldovatesting@gmail.com">winemoldovatesting@gmail.com</a></p>
          <p>Please enjoy our wines responsibly.</p>
          <p>&copy; 2014</p>
        </div>
      </div>
  </div>
</div>

