<div id="comingSoonTemplate">
    {% include menu.html %}
    <div id="coming-soon-template-placeholder"></div>
</div>

<script id="coming-soon-template-template" type="text/html">

    <img src="../img/cover_welcome.jpg">
    <div class="center">
        <h1>WELCOME TO YOUR WINE TESTING GUIDE!</h1>

        <p>Wine, especially Moldovan wine, is worth more than a quick glug. because there is a lot more to judging the
            quality of a wine than merely tasting it. Predominantly it involves smell, using that organ which protrudes
            from the front of the face just above the mouth. Despite this simple fact, however, many regard those that
            know enough to swirl and sniff their wine as pretentious wine 'snobs'. But this is not the case. This is how
            to get the best out of a bottle.</p>

        <p>Soon you will be able to play and learn, how to taste a wine and get the result of your wine tasting skills.</p>

        <a class="topcoat-button blue follow" onclick="window.open('https://www.facebook.com/winemoldova.info', '_system');">Follow us on facebook</a>
    </div>
</script>