<div id="glossaryPage">
    {% include menu.html %}

    <div id="glossaryList-nav" class="glossary center"></div>

    <div class="content scrollable">
        <div id="glossaryList" class="topcoat-list glossary"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var root = $('#glossaryList');

        $.getJSON(dataSource + "glossary?range=500", function (data) {

            $.each(data.data, function (key, element) {

                var domEl = '<li data-id="' + element.id + '" class="card">' +
                        '<p class="label">' + element.label + '</p>' +
                        '<p class="description">' + element.description + '</p>' +
                        '</li>';

                root.append(domEl);

            });

            $('#glossaryList').listnav({
                includeAll: true,
                includeNums: false,
                noMatchText: 'Nothing matched your filter, please click another letter.',
                showCounts: false
            });
        });
    });

</script>
