<div id="home">
  {% include menu.html %}
  <div class="content scrollable">
    <div class="header-cover">
      <img class="logo" src="img/logo-big.png" alt="">
      <div class="brand center">Wine Moldova</div>
    </div>
    <div class="topcoat-button-bar menu">
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button" data-rel="matchesPage">
          <img src="img/icon-matches.png" alt="">
          <span>Matches</span>
        </button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button" data-rel="winesPage">
          <img src="img/icon-wine.png" alt="">
          <span>Wines</span>
        </button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button" data-rel="wineriesPage">
          <img src="img/icon-pin.png" alt="">
          <span>Wineries</span>
        </button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button-bar__button" data-rel="eventsPage">
          <img src="img/icon-navigation.png" alt="">
          <span>Events</span>
        </button>
      </div>
    </div>
    <div id="degustation-html"></div>
  </div>
</div>

