<div id="startButtonsTemplate">
    {% include menu.html %}
     <div id="startButtonsHtml"></div>
</div>

<script id="start-buttons-template" type="text/html">
    <div class="degustation">Let's start the degustation with pur guide or evaluate the wine as an expert.</div>
    <div class="center">
        <button  class="topcoat-button blue" data-rel="wineTastingPage">Wine tasting</button>
        <button  class="topcoat-button red" data-rel="wineRaterPage">Wine rater</button>
    </div>
</script>

