<div id="wineRaterPage">
  {% include menu.html %}
  <div class="content scrollable">
    <div id="wineRaterAnchor"></div>
  </div>
<script id="wineRaterTemplate" type="text/html">
  <div class="list">
    <div class="pull-left">
      <h2 class="title">{wine.title}</h2>
      <div class="company">{wine.company}</div>
    </div>
    <div class="pull-right">
      <h2 class="points">{points}</h2>
      <div class="total">total</div>
    </div>
    <div style="clear:both"></div>
  </div>

  <div class="header full">Appearance</div>
  <div class="rating full">
    <div class="characteristic">Clarity</div>
    <div class="bubbles">
        <input id="clarity1" name="clarity" type="radio"><label for="clarity1">1</label>
        <input id="clarity2" name="clarity" type="radio"><label for="clarity2">2</label>
        <input id="clarity3" name="clarity" type="radio"><label for="clarity3">3</label>
        <input id="clarity4" name="clarity" type="radio"><label for="clarity4">4</label>
        <input id="clarity5" name="clarity" type="radio"><label for="clarity5">5</label>
    </div>
  </div>
  <div class="rating full">
    <div class="characteristic">Color</div>
    <div class="bubbles">
        <input id="color1" name="color" type="radio"><label for="color1">2</label>
        <input id="color2" name="color" type="radio"><label for="color2">4</label>
        <input id="color3" name="color" type="radio"><label for="color3">6</label>
        <input id="color4" name="color" type="radio"><label for="color4">8</label>
        <input id="color5" name="color" type="radio"><label for="color5">10</label>
    </div>
  </div>

  <div class="header full">Nose</div>
  <div class="rating full">
    <div class="characteristic">Intensity</div>
    <div class="bubbles">
        <input id="intensity1" name="intensity" type="radio"><label for="intensity1">2</label>
        <input id="intensity2" name="intensity" type="radio"><label for="intensity2">4</label>
        <input id="intensity3" name="intensity" type="radio"><label for="intensity3">6</label>
        <input id="intensity4" name="intensity" type="radio"><label for="intensity4">8</label>
        <input id="intensity5" name="intensity" type="radio"><label for="intensity5">10</label>
    </div>
  </div>
  <div class="rating full">
    <div class="characteristic">Purity</div>
    <div class="bubbles">
        <input id="purity1" name="purity" type="radio"><label for="purity1">2</label>
        <input id="purity2" name="purity" type="radio"><label for="purity2">3</label>
        <input id="purity3" name="purity" type="radio"><label for="purity3">4</label>
        <input id="purity4" name="purity" type="radio"><label for="purity4">5</label>
        <input id="purity5" name="purity" type="radio"><label for="purity5">6</label>
    </div>
  </div>
  <div class="rating full">
    <div class="characteristic">Harmony</div>
    <div class="bubbles">
        <input id="harmony1" name="harmony" type="radio"><label for="harmony1">8</label>
        <input id="harmony2" name="harmony" type="radio"><label for="harmony2">10</label>
        <input id="harmony3" name="harmony" type="radio"><label for="harmony3">12</label>
        <input id="harmony4" name="harmony" type="radio"><label for="harmony4">14</label>
        <input id="harmony5" name="harmony" type="radio"><label for="harmony5">16</label>
    </div>
  </div>

  <div class="header full">Taste</div>
  <div class="rating full">
    <div class="characteristic">Intensity</div>
    <div class="bubbles">
        <input id="taste-intensity1" name="taste-intensity" type="radio"><label for="taste-intensity1">2</label>
        <input id="taste-intensity2" name="taste-intensity" type="radio"><label for="taste-intensity2">4</label>
        <input id="taste-intensity3" name="taste-intensity" type="radio"><label for="taste-intensity3">6</label>
        <input id="taste-intensity4" name="taste-intensity" type="radio"><label for="taste-intensity4">8</label>
        <input id="taste-intensity5" name="taste-intensity" type="radio"><label for="taste-intensity5">10</label>
    </div>
  </div>
  <div class="rating full">
    <div class="characteristic">Purity</div>
    <div class="bubbles">
        <input id="taste-purity1" name="taste-purity" type="radio"><label for="taste-purity1">2</label>
        <input id="taste-purity2" name="taste-purity" type="radio"><label for="taste-purity2">3</label>
        <input id="taste-purity3" name="taste-purity" type="radio"><label for="taste-purity3">4</label>
        <input id="taste-purity4" name="taste-purity" type="radio"><label for="taste-purity4">5</label>
        <input id="taste-purity5" name="taste-purity" type="radio"><label for="taste-purity5">6</label>
    </div>
  </div>
  <div class="rating full">
    <div class="characteristic">Harmony</div>
    <div class="bubbles">
        <input id="taste-harmony1" name="taste-harmony" type="radio"><label for="taste-harmony1">10</label>
        <input id="taste-harmony2" name="taste-harmony" type="radio"><label for="taste-harmony2">13</label>
        <input id="taste-harmony3" name="taste-harmony" type="radio"><label for="taste-harmony3">16</label>
        <input id="taste-harmony4" name="taste-harmony" type="radio"><label for="taste-harmony4">19</label>
        <input id="taste-harmony5" name="taste-harmony" type="radio"><label for="taste-harmony5">22</label>
    </div>
  </div>
  <div class="rating full">
    <div class="characteristic">Persistence</div>
    <div class="bubbles">
        <input id="taste-persistance1" name="taste-persistance" type="radio"><label for="taste-persistance1">4</label>
        <input id="taste-persistance2" name="taste-persistance" type="radio"><label for="taste-persistance2">5</label>
        <input id="taste-persistance3" name="taste-persistance" type="radio"><label for="taste-persistance3">6</label>
        <input id="taste-persistance4" name="taste-persistance" type="radio"><label for="taste-persistance4">7</label>
        <input id="taste-persistance5" name="taste-persistance" type="radio"><label for="taste-persistance5">8</label>
    </div>
  </div>

  <div class="header full green">Overall rating</div>
  <div class="rating full">
    <div class="characteristic">Overall</div>
    <div class="bubbles">
        <input id="overall1" name="bubble" type="radio"><label for="overall1">7</label>
        <input id="overall2" name="bubble" type="radio"><label for="overall2">8</label>
        <input id="overall3" name="bubble" type="radio"><label for="overall3">9</label>
        <input id="overall4" name="bubble" type="radio"><label for="overall4">10</label>
        <input id="overall5" name="bubble" type="radio"><label for="overall5">11</label>
    </div>
  </div>
  <textarea id="comments" placeholder="Write your comments" rows="2"></textarea>
  <div class="center">
    <button  class="topcoat-button">Send</button>
  </div>
</script>
</div>

