<div id="wineryItemTemplate">
    {% include menu.html %}
    <div class="content scrollable">
        <div id="wineItemContent" class="winery"></div>
    </div>
</div>

<!-- Template. -->
<script id="wine-item-template" type="text/html">
    <img src="{thumbnail}">
    <div class="center">
        <span class="producer"><h1>{label}</h1></span>
    </div>

    <div class="contact">
        <div>{contacts|s}</div>
    </div>
    <div class="description">
        <span class="label">Description:</span>

        <div>{description|s}</div>
    </div>

    <div class="center">
        <a data-id="{id}" id="view-company-wines"
           class="topcoat-button blue topcoat-button--large--cta wine-list-button">Wines</a>
    </div>
</script>

<script id="wine-item-contacts-template" type="text/html">
    <div><span class="label ciry">City:</span> <span class="value">{city}</span></div>
    <div><span class="label port-code">Post code:</span> <span class="value">{regcode}</span></div>
    <div><span class="label address">Address:</span> <span class="value">{location}</span></div>
    <div><span class="label department">Department:</span> <span class="value">{department}</span></div>
    <div><span class="label phone">Phone:</span> <span class="value">{phone}</span></div>
    <div><span class="label email">Email:</span> <span class="value">{email}</span></div>
    <div><span class="label website">Website:</span> <span class="value">{website|s}</span></div>
    <hr>
</script>
