<div id="wineriesPage">
  {% include menu.html %}
  <div class="content scrollable">
    <ul id="wineriesList" class="topcoat-list"></ul>
  </div>
</div>
<script>
$(document).ready(function () {
var root = $('#wineriesList');

  $.getJSON(dataSource + "companies?sort=label&filter[language]=en", function (data) {
    $.each(data.data, function (key, element) {

      var domEl = '<li data-id="' + element.id +
          '" class="wineryItem card"><div><img class="spotlight" src="' +
          element.images.styles.thumbnail + '"></div>' +
          '<p class="label">' + element.label + '</p>' +
          '<div class="nextArrow"></div></li>';

      root.append(domEl);
    });



  });
});
</script>

