<div id="wineTemplate">
    {% include menu.html %}
    <div class="content scrollable">
        <div id="wineAnchor"></div>
    </div>
    <script id="wine-template" type="text/html">
        <div class="quarter">
            <img src="{image}" alt="">
        </div>
        <div class="half">
            <h1>{label}</h1>

            <p>{type} wine</p>

            <p class="description">{description|s}</p>
        </div>

        <ul>
            <li class="active">Info</li>
            <li><a data-id="{id}" id="foods-by-wine" href="#">Matches</a></li>
            <li><a data-id="{cid}" id="company-by-wine" href="#">Winery</a></li>
            <li><a id="buy-wine" href="http://wine.md/" target="_blank">Buy</a></li>
        </ul>

        <div class="wine-info">

        </div>

        <div class="wine-foods">
            <div class="content scrollable">
                <ul id="wineTemplateFoodList" class="topcoat-list"></ul>
            </div>
        </div>

    </script>
</div>

