<div id="wineFoodMatchingTemplate">
    {% include menu.html %}
    <div class="content scrollable">
        <ul id="wineFoodMatchingList" class="topcoat-list"></ul>
    </div>
</div>

<!-- Full content template. -->
<script id="wine-food-matching-template" type="text/html">
    {content|s}
</script>

<!-- Line item template. -->
<script id="wine-food-matching-item-template" type="text/html">
    <li data-id="{id}" class="wineItem card">
        <div>
            <img class="spotlight" src="{thumbnail}">
        </div>
        <p class="edition">{vintage} {edition}</p>
        <p class="label">{label}</p>
        <p class="company">{company}</p>
        <div class="nextArrow"></div>
    </li>
</script>
